body {
    /*background-color: cadetblue;*/
}

.container {
    width: 85%;
    margin: 0 auto;
}

button {
    font-size: larger;
    font-weight: bold;
    /*background: #dee2e4;*/
    /*border: 2px solid #dee2e4;*/
    /*width: auto;*/
    height: 30px;
    /*border-radius: 10px;*/
}

ul {
    list-style-type: none;
}

.instructions {
    font-style: italic;
}

.red {
    /*color:#bd3c43;*/
    color:red;
}